site_name: OpenQAOA
repo_url: https://github.com/entropicalabs/openqaoa
repo_name: entropicalabs/openqaoa
copyright: Copyright &copy; 2022 by Entropica Labs Pte Ltd. All rights reserved.


theme:
  name: material
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  logo: img/entropicalabs_logo.svg
  favicon: img/entropicalabs_logo.svg
  language: en 
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    # - navigation.instant
    - navigation.indexes
    - navigation.sections
    - navigation.footer
    - navigation.top
    - navigation.tracking
    - toc.follow
    # - navigation.tabs
    # - toc.integrate

plugins:
  - search

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - toc:
      permalink: true
      title: Table of contents
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format


nav:
  - OpenQAOA: index.md
  - Features: features.md
  - What is the QAOA?: what-is-the-qaoa.md
  - Getting Started: 
      - install-openqaoa.md
      - the-simplest-workflow.md
      - making-sense-of-the-result.md
  - Workflows:
      - workflows/customise-the-QAOA-workflow.md
      - workflows/recursive-qaoa.md
  - Parametrizations:
      - parametrization/parametrization.md
      - parametrization/standard-parametrization.md
      - parametrization/extended-parametrization.md
      - parametrization/fourier-parametrization.md
      - parametrization/annealing-parametrization.md
  - Optimizers:
      - optimizers/optimizers.md
      - optimizers/gradient-based-optimizers.md
      - optimizers/gradient-free-optimizers.md
      - optimizers/pennylane-optimizers.md
      - optimizers/shot-adaptive-optimizers.md
  - The Devices:
      - devices/device.md
      - Local Simulators:
        - devices/qiskit.md
        - devices/rigetti-qvm.md
        - devices/entropica-labs-vectorized.md
      - Quantum Processing Units:
        - devices/amazon-braket.md
        - devices/azure-quantum.md
        - devices/ibmq.md
        - devices/rigetti-qcs.md
  - QUBO Problems:
      - problems/what-is-a-qubo.md
      - Built-in QUBO:
        - problems/knapsack.md
        - problems/maximum-cut.md
        - problems/minimum-vertex-cover.md
        - problems/number-partition.md
        - problems/shortest-path-problem.md
        - problems/traveling-sales-person.md

extra:
  social:
  - icon: fontawesome/brands/github-alt
    link: https://github.com/entropicalabs/openqaoa
  - icon: fontawesome/brands/discord
    link: https://discord.gg/ana76wkKBd
  - icon: fontawesome/brands/medium
    link: https://medium.com/@entropicalabs
